<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Jeopardy!</title>
    <!-- Bootstrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>

  <body>

  {% include 'game/header.html' %}

  <div class="container">
    <div class="content">
      {% block main_content %}
      {% endblock %}
   </div>
  </div>

  {% include 'game/footer.html' %}

    
  </body>
  
</html>